---
- name: Set certificate method
  ansible.builtin.set_fact:
    certbot_use_dns_challenge: "{{ nginx_certbot_use_dns_challenge }}"
    certbot_dns_provider: "{{ nginx_certbot_dns_provider | default('rfc2136') }}"

- name: Check if certificate exists
  ansible.builtin.stat:
    path: /etc/letsencrypt/live/{{ ansible_fqdn }}/cert.pem
  register: cert

- name: Get current certificate info
  community.crypto.x509_certificate_info:
    path: /etc/letsencrypt/live/{{ ansible_fqdn }}/cert.pem
  register: certinfo

- name: Set fact to regenerate certificates if new domains are added
  ansible.builtin.set_fact:
    certbot_regenerate: true
  when:
    - item.enabled | default(true)
    - item.name is defined
    - "'DNS:' + item.name not in certinfo.subject_alt_name"
  loop: "{{ nginx_servers }}"

- name: Set up certbot base installation
  ansible.builtin.include_tasks: certbot.yml

- name: Set up HTTP-based certificates for public IPs
  ansible.builtin.include_tasks: certbot_http.yml
  when: not certbot_use_dns_challenge

- name: Set up DNS-based certificates for private IPs or internal hosts
  ansible.builtin.include_tasks: certbot_dns.yml
  when: certbot_use_dns_challenge

- name: Ensure certificate configured for nginx
  ansible.builtin.template:
    src: letsencrypt.conf.j2
    dest: /etc/nginx/conf.d/letsencrypt.conf
    mode: "0644"
  notify: Reload nginx

- name: Add ssl header config to the list of configs
  ansible.builtin.set_fact:
    nginx_confs: "{{ nginx_confs + ['ssl-headers'] }}"