---
- name: Ensure certbot and nginx plugin are installed
  ansible.builtin.apt:
    name:
      - certbot
      - python3-certbot-nginx
    state: present

- name: Ensure certbot DNS plugin is installed for DNS challenge
  ansible.builtin.apt:
    name: "python3-certbot-dns-{{ dns_provider }}"
    state: present
  when: use_dns_challenge