# {{ ansible_managed }}
dns_rfc2136_server = {{ rfc2136_server }}
dns_rfc2136_port = {{ rfc2136_port | default('53') }}
dns_rfc2136_name = {{ rfc2136_key_name }}
dns_rfc2136_secret = {{ rfc2136_key_secret }}
dns_rfc2136_algorithm = {{ rfc2136_algorithm | default('HMAC-SHA512') }}