---
- name: Include packages tasks for Debian
  ansible.builtin.include_tasks: packages_debian.yml
  when: ansible_os_family == 'Debian'

- name: Include bot installation tasks
  ansible.builtin.include_tasks: "install_{{ draupnir_install_method }}.yml"

- name: Include bot configuration tasks
  ansible.builtin.import_tasks: config.yml

- name: Ensure bot systemd units in place
  ansible.builtin.template:
    src: templates/systemd/{{ item }}.j2
    dest: /etc/systemd/system/{{ item }}
    mode: '0644'
  loop:
    - matrix-bot-draupnir.service
  notify:
    - Config bot draupnir service
