# {{ ansible_managed }}
scrape_configs:
  - job_name: "synapse"
    scrape_interval: 15s
    metrics_path: "/metrics"
    static_configs:
{% for worker_type, ports in synapse_workers.items() %}
{%- for port in ports %}
    - targets: ["{{ inventory_hostname }}:{{ port + synapse_worker_metrics_base_port }}"]
      labels:
        instance: "{{ inventory_hostname.split('.')[0] }}"
        job: "{{ worker_type }}"
        index: "{{ loop.index }}"
{% endfor %}
{% endfor %}