# {{ ansible_managed }}
worker_app: synapse.app.{{ worker_app }}
worker_name: {{ worker }}

worker_log_config: /etc/matrix-synapse/worker-logs/{{ worker }}-log.yaml
{% if worker_port is defined and worker_listeners|length !=0 or synapse_metrics %}
worker_listeners:
{% if worker_listeners|length != 0 %}
  - type: http
    port: {{ worker_port }}
    x_forwarded: true
    bind_addresses: ['::1', '127.0.0.1']
    resources:
      - names: {{ worker_listeners }}
{% endif %}

{% if synapse_metrics %}
  - type: metrics
    port: {{ worker_port + 1000 }}
    bind_addresses: ['0.0.0.0'] # Don't bind to multiple addresses
{% endif %}
{% endif %}
