---

- name: Config bot draupnir service
  ansible.builtin.systemd:
    daemon_reload: true
    name: matrix-bot-draupnir.service
    enabled: true

- name: Draupnir build
  become: true
  become_user: draupnir
  ansible.builtin.shell: |
    cd {{ draupnir_data_path }}/src
    yarn build
  register: draupnir_build_output
  changed_when: "'built' in draupnir_build_output.stdout.lower()"
  notify: Restart bot draupnir

- name: Restart bot draupnir
  ansible.builtin.systemd:
    name: matrix-bot-draupnir.service
    state: restarted
