{% extends 'mautrix-megabridge.yaml.j2' %}
{% block network %}
    os_name: "{{ mautrix_whatsapp_web_name }}"
    url_previews: true
    extev_polls: true
    history_sync:
        request_full_sync: true
{% endblock %}
